{% extends "JCPlatformBundle::layout.html.twig" %}

{% block title %} {{ parent() }} {% endblock title %}

{% block body %} 
<h1> Bonjour {{ page }} </h1>
<a > lien vers l'annonce d'id  </a>
{% endblock body %}